$white: #fff;
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/grid";
body {
  background-color: #454543;
  color:$white;
  text-decoration:none;
  box-sizing: border-box;
  text-align: center;
}


